[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/neobundle.vim"]
	path = vendor/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "vim/bundle/omnisharp-vim"]
	path = vim/bundle/omnisharp-vim
	url = git@github.com:OmniSharp/omnisharp-vim.git
